sudo: required
language: python
# cache:
#   directories:
#     - "$HOME/google-cloud-sdk/"
services:
  - docker
env:
  global:
    - ELASTICSEARCH_NODES="http://localhost:9200"
    - QUAY_REPO="quay.io/opentargets/mrtarget"
python:
  - 2.7
before_install:
  - docker pull docker.elastic.co/elasticsearch/elasticsearch:7.1.1
  - docker run -d -p 9200:9200 -p 9300:9300 --name=es elasticsearch:7.1.1
install:
  - pip install -r requirements.txt
  - pip install -r requirements.dev.txt
  - pip install -e .
  - pipdeptree
script:
  - mkdir log
  - export DATA_CONFIG="https://storage.googleapis.com/open-targets-data-releases/19.04/input/mrtarget.data.19.04.5.yml" && make help dry_run 
  - pytest --cov=mrtarget --cov-report term tests/ --fulltrace
notifications:
  email:
    recipients:
    - ops@opentargets.org
    on_success: never
    on_failure: always
after_success:
  - codecov
  - docker pull "${QUAY_REPO}:${TRAVIS_BRANCH}" || true
  #pull the previous built image to use as a cache if possible
  - docker build --pull --cache-from "${QUAY_REPO}:${TRAVIS_BRANCH}" --tag "${QUAY_REPO}" .
  - docker login -u="${QUAY_USER}" -p="${QUAY_PASSWORD}" quay.io
  - git_sha="${TRAVIS_COMMIT}"
  - docker tag "${QUAY_REPO}" "${QUAY_REPO}:${TRAVIS_BRANCH}"
  - docker tag "${QUAY_REPO}" "${QUAY_REPO}:${git_sha}-${TRAVIS_BRANCH}"
  #only push non-PRs
  - |
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then
      docker push "${QUAY_REPO}:${TRAVIS_BRANCH}" && docker push "${QUAY_REPO}:${git_sha}-${TRAVIS_BRANCH}"
      if [ "${TRAVIS_BRANCH}" = "master" ]; then
        docker tag "${QUAY_REPO}:${TRAVIS_BRANCH}" "${QUAY_REPO}:latest"
        docker push "${QUAY_REPO}:latest"
      fi
    fi