future
redislite
addict==2.1.0
argparse==1.3.0
dateutils==0.6.6
decorator==3.4.2
envparse
chardet
certifi
elasticsearch-dsl>=5.0.0,<6.0.0
networkx==1.9.1
python-dateutil==2.4.2
pytz==2015.2
requests>=2.11.1,<3.0
six
ujson==1.35
iso8601>=0.1.11
lxml>=3.4.4
opentargets
SPARQLWrapper>=1.7.6
paramiko==1.17.0
pysftp==0.2.9
jsonpickle
jsonschema==2.6.0
simplejson
numpy
scipy==0.19.0
tqdm==4.8.1
colorlog
argcomplete
scikit-learn==0.18.1
spacy==1.8.2
nltk==3.2.1
biopython==1.65
petl==1.1.1
hyperframe==3.2
nose==1.3.7
pytest
pytest-cov
toml
rdflib
colorama
ftputil
psutil
textblob
unidecode
urllib3
coverage
pylru
toolz
cement==2.10.2
git+https://github.com/opentargets/data_model.git@v1.2.6#egg=data-model
https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-1.2.3.tar.gz
-e .
