requests
future
redislite
addict
envparse
elasticsearch-dsl>=5.0.0,<6.0.0
networkx

requests

ujson

SPARQLWrapper>=1.7.6
jsonpickle
simplejson

#when installing from GitHub, a specific commit must be used for consistency
#and to ensure dependency caching works as intended
git+https://github.com/opentargets/validator.git@91fc3977d837eaf04aa586d2644dc77f0b631d1d#egg=opentargets_validator

numpy
scipy

#used by data driven relations
scikit-learn

biopython
petl

pytest-cov
#transitively includes pytest
mock
nose
toolz
pylint

rdflib
colorama
psutil
pylru
yapsy
lxml
more-itertools

codecov

https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-1.2.3.tar.gz
