requests
future
redislite
#AF 15/11/18 transitive pinning to 2.x.x to solve AttributeError: 'UnixDomainSocketConnection' object has no attribute '_buffer_cutoff' 
redis<=2.10.6
addict
envparse #TODO remove when migration to ConfigArgParse is complete
ConfigArgParse[yaml]
elasticsearch-dsl>=5.0.0,<6.0.0
networkx

requests


jsonpickle
simplejson

#when installing from GitHub, a specific commit must be used for consistency
#and to ensure dependency caching works as intended
#git+https://github.com/opentargets/ontology-utils.git@f92222b5abf89b0c3a9c2d3cd0e683676620b380#egg=opentargets-ontologyutils
opentargets-validator>=0.4.0
opentargets-ontologyutils>=1.1.0

numpy

#used by data driven relations
scipy
scikit-learn

biopython
petl

pyfunctional
requests-file
pypeln<=0.1.6

rdflib
psutil
yapsy
lxml
more-itertools

codecov

https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-1.2.3.tar.gz
